.buttons_zone,
#buttons_zone {
  position: relative;
  top: 100px;
  left: 80px;
  padding-bottom: 50px;
  padding-left: 30px;
  width: calc(100vw - 150px);
  z-index: 10;
}

.button {
  display: block;
  width: fit-content;
  margin: 20px 0;
  padding: 10px;
  min-width: 200px;
  max-width: calc(85vw - 100px);
  border: 8px outset;
  border-radius: 20px;
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  width: 53px;
  height: 4px;
}


/* Color-matching line by default - use border colors for proper color */
.button-orange::before {
  background: var(--orange);
}

.button-purple::before {
  background: var(--purple);
}

.button-blue::before {
  background: var(--blue);
}

.button-green::before {
  background: var(--green);
}

.button-grey::before {
  background: var(--grey);
}

.button.pressed {
  border-style: inset;

  filter: brightness(0.7);
  opacity: 0.9;
}

.button-orange {
  background: var(--orange);
  border-color: var(--orange-border);
  margin-left: 40px;
}

.button-purple {
  background: var(--purple);
  border-color: var(--purple-border);
  margin-left: 30px;
}

.button-blue {
  background: var(--blue);
  border-color: var(--blue-border);
  margin-left: 20px;
}

.button-green {
  background: var(--green);
  border-color: var(--green-border);
  margin-left: 10px;
}

.button-grey {
  background: var(--grey);
  border-color: var(--grey-border);
}

@keyframes wiggle {

  0%,
  100% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }
}

@keyframes sparkle {
  0% {
    left: 120%;
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  60% {
    left: -120%;
  }

  100% {
    left: -120%;
  }
}

.unclicked_button {
  position: relative;
  animation: wiggle 2s ease-in-out infinite;
}

.last_pressed {
  outline: 5px solid var(--black);
  box-shadow: 0 0 15px 10px var(--black);
}

/* sparkle sweep */
.unclicked_button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 60%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      var(--white-shine),
      transparent);
  transform: skewX(-20deg);
  animation: sparkle 5s infinite;
}

.button img {
  max-width: 400px;
  max-height: 400px;
}

.button iframe {
  width: 600px;
  height: 300px;
}