@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #fullscreen_toggle {
    display: block !important;
  }

  #buttons_zone {
    margin-left: -10px;
  }

  .black_stripe {
    left: 20px;
  }

  .background_stripes {
    left: 30px;
  }

  .black_stripe,
  .background_stripes {
    height: 300vh;
  }

  .margin_interface {
    width: 30px;
    margin-right: 20px;
  }
}