.fullscreen-btn {
  display: none;
}

@media (max-width: 801px) {
  body {
    overflow-x: hidden;
    letter-spacing: -5%;


    /* more aggressive on headings */
  }

  .fullscreen-btn {
    display: block;
  }

  #buttons_zone {
    margin-left: -30px;
    width: calc(100vw - 80px);
  }

  .black_stripe {
    left: 10px;
  }

  .background_stripes {
    left: 20px;
  }

  .black_stripe,
  .background_stripes {
    height: 100vh;
  }

  .margin_interface {
    width: 20px;
    margin-right: 30px;
  }

  h1 {
    margin: 10px 0 10px 0;
  }

  #page_div {
    margin-left: -20px
  }

  #buttons_zone .button::before {
    left: -70px;
    width: 62px;
  }

  #buttons_zone .second_to_last_pressed::before,
  #buttons_zone .second_to_last_children::before {
    background: var(--black-shine);
    left: -170px;
    width: 162px;
  }

  #buttons_zone .last_pressed::before,
  #buttons_zone .last_children::before {
    background: var(--black);
    left: -170px;
    width: 162px;
  }
}