.page {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  background: var(--grey);
  padding: 20px;
  z-index: 200;
  overflow-y: auto;
}

.page-grey {
  left: 40px;
  background: var(--grey);
}

.page-green {
  left: 50px;
  background: var(--green);
}

.page-blue {
  left: 60px;
  background: var(--blue);
}

.page-purple {
  left: 70px;
  background: var(--purple);
}

.page-orange {
  left: 80px;
  background: var(--orange);
}